.title-img {
    width: 200px;
    height: auto;
}

.titel-text {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.titel-subtext {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}