<div style="text-align:left" class="ui-g">
    <div class="ui-g-3 ui-lg-2">
        <img class="title-img" src="assets/logo.png">
    </div>
    <div class="ui-g-4">
        <div class="titel-text">Welcome to {{ title }}!</div>
        <div class="titel-subtext">Manage you cryptos</div>

    </div>
</div>
<app-tselect></app-tselect>
<p-tabView>
    <p-tabPanel header="Ticker">
        <app-ticker></app-ticker>
    </p-tabPanel>
    <p-tabPanel header="TChart">
        <app-tchart></app-tchart>
    </p-tabPanel>
</p-tabView>
